!!!
%html
  %head
  %body
    = Heroku::Nav::Provider.html
    %p Hello!
    %p You are using resource: #{@resource.id}.
    %p Located in: #{@resource.region}.
    %p On plan: #{@resource.plan}
    %p Logged in as: #{@email}
